@charset "UTF-8";

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    padding: 10px;
    background-color: lightblue;
}

div.container {
    display: flex;
    background-color: white;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: flex-start;
    padding: 10px 0px 10px 0px;
    height: 200px;
    width: 480px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

div.item {
    border: 2px solid lightblue;
    background-color: yellow;
    text-align: center;
    padding: 30px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

#i1 {
    align-self: auto;
}
#i2 {
    align-self: flex-start;
}
#i3 {
    align-self: flex-end;
}
#i4 {
    align-self: center;
}
#i5 {
    align-self: stretch;
}