@charset "UTF-8";

* {
    padding: 0px;
    margin: 0px;
}

div.container {
    display: flex;
    background-color: lightgray;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

div.item {
    background-color: white;
    width: 100px;
    height: 100px;
    border: 1px solid darkgray;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}