@charset "UTF-8";

* {
    padding: 0px;
    margin: 0px;
}

body {
    padding: 10px;
}

div.container {
    display: flex;
    background-color: lightcoral;
    flex-direction: row;
}

div.item {
    background-color: lightgreen;
    text-align: center;
    padding: 10px;
}