@charset "UTF-8";

/*Estilo geral*/

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html, body {
    font-family: Arial, Helvetica, sans-serif;
    width: 100vw;
    height: 100vh;
    background-color: #233eff;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center bottom;
}

h1 {
    color: white;
    text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.3);
    padding: 10px;
}
