@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
}
img {
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    width: 800px;
}

body {
    background-color: #BE9D7E;
}

main {
    background-color: white;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    margin: auto;
    width: 800px;
    padding: 10px;
    margin-top: 100px;
    box-shadow: 5px 5px 15px rgb(0, 0, 0, .4)
}